# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Mac System Files
.DS_Store

# VS Code Settings
.vscode/
.qodo

# Build Artifacts
build/
bin/
*.o
*.d
engine_3d

# Node.js / Tool Server
node_modules/
package-lock.json